/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav .logo img {
    width: 50px;
  }
  nav .logo h2 {
    font-size: 25px;
    font-weight: 800;
  }
  nav ul {
    display: none;
  }

  .menu-bar {
    display: block;
  }
  .menu-bar i {
    font-size: 25px;
  }

  /* Default Code */
  .container {
    width: 90%;
  }
  .flex {
    display: block;
    justify-content: center;
  }
  section {
    margin: 70px 0;
  }
  .title {
    font-size: 35px;
  }

  .sub-title {
    font-size: 20px;
  }

  .btn {
    padding: 13px 25px;
    font-size: 17px;
    margin-bottom: 20px;
  }

  /* Banner */

  .banner {
    height: 100%;
    margin-top: 20px;
  }

  .banner .wrapper {
    padding: 10px;
  }
  .banner h1 {
    font-size: 44px;
    text-align: center;
    margin-top: 15px;
  }

  .banner .wrapper p {
    width: 100%;
    margin: 20px;
  }

  .banner .find-now {
    width: 100%;
    display: block;
  }

  .banner .find-now select,
  input,
  .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  /* Populer Tours */
  .popular-tour {
    margin-top: 50px;
  }

  .popular-tour .content-side p,
  ul {
    width: 100%;
    margin: 15px 0;
  }

  .popular-tour img {
    width: 100%;
  }

  /* black-friday CSS */
  .black-friday .friday-box {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
  .black-friday .friday-box p {
    width: 100%;
  }

  .black-friday .friday-box img {
    width: 100%;
    margin-left: 0px;
  }

  .black-friday .box2 {
    width: 100%;
    display: block;
    justify-content: center;
    height: 100%;
  }

  .black-friday .box2 h3 {
    width: 100%;
  }

  /* destination Section CSS */

  .destination .top-title-section p {
    width: 100%;
    margin: 0 auto;
  }
  .destination-gallery img {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }

  .destination-gallery {
    display: block;
  }

  .image1::before {
    font-size: 20px;
  }
  .image2::before {
    font-size: 20px;
  }
  .image3::before {
    font-size: 20px;
  }
  .image4::before {
    font-size: 20px;
  }
  .image5::before {
    font-size: 20px;
  }
  .image6::before {
    font-size: 20px;
  }
  .image7::before {
    font-size: 20px;
  }

  /* Why choose us */
  .why-us .top-title-section p {
    width: 100%;
  }
  .why-us .service-box {
    margin-top: 25px;
  }
  .why-us .box3 {
    width: 95%;
  }

  /* Discount Section */

  .deal-discount .top-title-section p {
    width: 100%;
  }
  .discount-card,
  .card2 {
    width: 100%;
    height: 400px;
    align-items: end;
    padding: 20px;
  }

  .discount-card .info-card {
    width: 98%;
    padding: 15px;
    border-radius: 10px;
  }
  .discount-card .info-card span:nth-child(2) {
    margin: 0 10px;
  }
  /* Video Section */

  video {
    width: 100%;
  }

  /* Newsletter Section CSS */

  .newsletter {
    display: block;
  }
  .newsletter .newsletter-side {
    height: 100%;
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .newsletter .newsletter-side p {
    width: 100%;
    margin: 10px 0;
  }

  .newsletter .offer-side {
    width: 100%;
  }

  /* Footer */

  footer {
    padding: 30px 0px;
  }
  footer p {
    width: 100%;
  }
  footer hr {
    width: 100%;
    margin: 10px;
  }
}

/* Mobile Desive Responsive End */

@media only screen and (min-width: 600px) and (max-width: 992px) {
  nav .logo {
    width: 400px;
  }
  nav .logo img {
    width: 60px;
  }
  nav .logo h2 {
    font-size: 30px;
  }

  nav ul {
    display: flex;
    justify-content: end;
  }

  .menu-bar {
    display: none;
  }

  /* Default Code */
  section {
    margin: 70px 0;
  }

  .title {
    font-size: 35px;
  }

  .sub-title {
    font-size: 20px;
  }

  .btn {
    padding: 13px 25px;
    font-size: 17px;
    margin-bottom: 20px;
  }

  /* Banner */

  .banner {
    height: 100%;
  }

  .banner .wrapper {
    padding: 50px;
  }

  .banner .find-now {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* Populer Tours */
  .popular-tour {
    margin-top: 50px;
    gap: 20px;
  }
  .popular-tour .content-side {
    width: 55%;
  }
  .popular-tour .content-side p,
  ul {
    width: 100%;
    margin: 15px 0;
  }

  .popular-tour .image-side {
    width: 45%;
  }
  .popular-tour img {
    width: 100%;
    height: 100%;
  }

  /* Black Friday */

  .black-friday .friday-box {
    width: 50%;
    height: 250px;
  }
  .black-friday .box1 h1 {
    width: 100%;
  }
  .black-friday .friday-box p {
    width: 100%;
  }

  .black-friday .friday-box img {
    display: none;
  }

  .black-friday .box2 h3 {
    width: 100%;
  }

  /* destination Section CSS */

  .destination .top-title-section p {
    width: 70%;
  }
  .destination-gallery img {
    height: 200px;
  }

  .image1::before {
    font-size: 30px;
  }
  .image2::before {
    font-size: 30px;
  }
  .image3::before {
    font-size: 30px;
  }
  .image4::before {
    font-size: 30px;
  }
  .image5::before {
    font-size: 30px;
  }
  .image6::before {
    font-size: 30px;
  }
  .image7::before {
    font-size: 30px;
  }

  /* Why choose us */
  .why-us .box3 {
    width: 95%;
  }

  /* Discount Section */

  .discount-card,
  .card2 {
    align-items: center;
  }

  .discount-card .info-card {
    width: 60%;
  }

  /* Video Section */

  video {
    width: 100%;
  }

  /* Newsletter Section CSS */

  .newsletter {
    display: flex;
  }
  .newsletter .newsletter-side {
    width: 50%;
    padding: 20px;
  }

  .newsletter .offer-side {
    width: 50%;
  }
}
