/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav .logo img {
    width: 50px;
  }
  nav .logo h2 {
    font-size: 25px;
    font-weight: 800;
  }
  nav ul {
    display: none;
  }

  .menu-bar {
    display: block;
  }
  .menu-bar i {
    font-size: 25px;
  }

  /* Default Code */
  .container {
    width: 90%;
  }
  .flex {
    display: block;
    justify-content: center;
  }
  section {
    margin: 70px 0;
  }
  .title {
    font-size: 35px;
  }

  .sub-title {
    font-size: 20px;
  }

  .btn {
    padding: 13px 25px;
    font-size: 17px;
    margin-bottom: 20px;
  }

  /* Banner */

  .banner {
    height: 100%;
    margin-top: 20px;
  }

  .banner .wrapper {
    padding: 10px;
  }
  .banner h1 {
    font-size: 44px;
    text-align: center;
    margin-top: 15px;
  }

  .banner .wrapper p {
    width: 100%;
    margin: 20px;
  }

  .banner .find-now {
    width: 100%;
    display: block;
  }

  .banner .find-now select,
  input,
  .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  /* Populer Tours */
  .popular-tour {
    margin-top: 50px;
  }

  .popular-tour .content-side p,
  ul {
    width: 100%;
    margin: 15px 0;
  }

  /* destination Section CSS */

  .destination .top-title-section {
    text-align: center;
    margin-bottom: 50px;
  }
  .destination .top-title-section p {
    width: 50%;
    margin: 0 auto;
  }
  .destination-gallery img {
    width: 100%;
    height: 300px;
  }

  .destination-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .image1 {
    grid-column: 1/7;
    position: relative;
  }
  .image1::before {
    content: "Maldives";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  .image2 {
    position: relative;
    grid-column: 7/-1;
  }

  .image2::before {
    content: "Indonesia";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }

  .image3 {
    position: relative;
    grid-column: 1/5;
  }

  .image3::before {
    content: "Srilanka";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  .image4 {
    position: relative;
    grid-column: 5/10;
  }

  .image4::before {
    content: "North America";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  .image5 {
    position: relative;
    grid-column: 10/-1;
  }
  .image5::before {
    content: "Kashmir";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  .image6 {
    position: relative;
    grid-column: 1/6;
  }
  .image6::before {
    content: "Bangladesh";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  .image7 {
    position: relative;
    grid-column: 6/-1;
  }

  .image7::before {
    content: "Bandarban";
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
  }
  /* Why choose us */

  .why-us .top-title-section {
    text-align: center;
    margin-bottom: 50px;
  }
  .why-us .top-title-section p {
    width: 50%;
    margin: 0 auto;
  }

  .why-us .service-box {
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
  }
  .why-us .service-box img {
    width: 64px;
    height: 64px;
  }

  .why-us .service-box h3 {
    margin: 10px 0;
  }

  .why-us .box1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
  }
  .why-us .box2 {
    border: 1px solid rgba(41, 206, 246, 0.2);

    background: rgba(41, 206, 246, 0.05);
  }
  .why-us .box3 {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);

    background: rgba(233, 68, 68, 0.05);
  }
  /* Discount Section */
  .deal-discount .top-title-section {
    text-align: center;
    margin-bottom: 50px;
  }
  .deal-discount .top-title-section p {
    width: 50%;
    margin: 0 auto;
  }
  .discount-card,
  .card2 {
    background-image: url("/assets/discount1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
  }

  .deal-discount .card2 {
    background-image: url("/assets/discount2.png");
    justify-content: flex-end;
  }
  .discount-card .info-card {
    background: rgba(255, 255, 255, 0.815);
    width: 45%;
    padding: 40px;
    border-radius: 10px;
  }
  .discount-card .info-card span:nth-child(2) {
    margin: 0 40px;
  }

  .discount-card .info-card i {
    color: var(--bg-primary);
  }

  .discount-card .info-card h2,
  h4 {
    margin: 15px 0;
  }

  .btn-wrap {
    text-align: center;
  }

  /* Video Section */

  .video-section {
    overflow: hidden;
    display: block;
    gap: 0px;
  }
  .video-section .content-side h1 {
    max-width: 100%;
    font-weight: 900;
  }

  .video-section li {
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 15px;
    color: #131318;
  }
  video {
    width: 600px;
    border-radius: 10px;
  }

  /* Newsletter Section CSS */

  .newsletter {
    display: block;
  }
  .newsletter .newsletter-side {
    height: 100%;
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .newsletter .newsletter-side p {
    width: 100%;
    margin: 10px 0;
  }

  .newsletter .offer-side {
    width: 100%;
  }

  /* Footer */

  footer {
    padding: 30px 0px;
  }
  footer p {
    width: 100%;
  }
  footer hr {
    width: 100%;
    margin: 10px;
  }
}

@media only screen and (min-width: 600px) and(max-width: 992px) {
}
